.header-col-wrapper{
    padding: 6px 12px;
    background-color: #fff;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid #ccc;
    .left-col{
        .logo{
            font-size: 2rem;
            
        }
    }
    .nav-links-wrapper{
        margin-left: 12px;
        
    }
    .right-col{
       .user-info-wrap{
           padding-right: 12px;
           i{
               font-size: 2rem;
               margin-right: 6px;
           }
       } 
    }
}

.content-wrapper{
    padding: 6px 12px;
    table{
        button{
            margin-left: 6px;
            &:first-child{
                margin-left: 0rem;
            }
        }
    }
}